body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
 }
 .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 0fr 1fr 1fr 1fr 1fr 1fr 1fr 0fr;
  gap: 10px 20px;
  grid-template-areas:
    "Meny Meny Meny Meny Meny"
    "Header Header Header Header Header"
    "Header Header Header Header Header"    
    "Main Main Main Side Side"
    "Main Main Main Side Side"
    "Main Main Main Side Side"
    "Bilder Bilder Bilder Bilder Bilder"
    "Bilder Bilder Bilder Bilder Bilder"
    "Footer Footer Footer Footer Footer";
}

    /*Header*/
  .Header { 
      grid-area: Header;
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      font-size: 70px;
      flex: center;
  }
  #grad3 {
    height: 75vh;
    background: url(Bilder/malin.jpg) no-repeat center;
    background-size: cover;
    padding-top: 10%;
  }

  #grad4 {
    height: 75vh;
    background: url(Bilder/malin.jpg) no-repeat center;
    background-size: cover;
    padding-top: 10%;
  }

  #grad5 {
    height: 75vh;
    background: url(Bilder/anna.jpg) no-repeat center;
    background-size: cover;
    padding-top: 10%;
  }

  /*Meny*/
  .Meny {
    grid-area: Meny;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 80%;
    }
      nav { 
        background-color: rgb(0, 0, 0);
        font-size: 25px;
    }
    nav ul { 
        list-style-type: none;
        margin: 0;
        padding: 20px;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
      }
    nav li {
        float: left;
    }
    nav li a { 
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

    }
    nav li a:hover { 
        background-color: rgb(43, 43, 43);
    }

    #logo {
      transition: 0.4s;
      background: url(Bilder/IMG_0012.jpg);
      background-size: 100% 100%;
      width: 350px;
      height: 150px;
    }

    #meny{    
      float: right;
      padding-top: 55px;
    }

    .Main {
      background-color: rgb(31, 31, 31);
    grid-area: Main; 
  }
    
    .Side {
      background-color: rgb(31, 31, 31);
      grid-area: Side;
    }
   h1{ 
      padding-left: 5%;
    }

    .Bilder { 
      background-color: rgb(31, 31, 31);
      grid-area: Bilder; 
    }

    .Footer {
      grid-area: Footer;
      background-color: rgb(31, 31, 31);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 15px;
    }

    /*kart*/
    .kart{
      text-align: center;
      border-radius: 25px;
      width: 100%;
      height: 60%;
      padding: 50px;
    }



    /* Extra small - Large devices */
    @media only screen and (max-width: 992px) {
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 1fr 1fr 1fr 1fr 1fr;
        gap: 5spx 0px;
        grid-template-areas:
          "Meny Meny"
          "Header Header"
          "Main Main"
          "Side Side"
          "Bilder Bilder"
          "Footer Footer";
      }
 
    }